In [227]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [229]:
df = pd.read_csv('test.csv')

In [231]:
df

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,19556,Female,Loyal Customer,52,Business travel,Eco,160,5,4,...,5,5,5,5,2,5,5,50,44.0,satisfied
1,1,90035,Female,Loyal Customer,36,Business travel,Business,2863,1,1,...,4,4,4,4,3,4,5,0,0.0,satisfied
2,2,12360,Male,disloyal Customer,20,Business travel,Eco,192,2,0,...,2,4,1,3,2,2,2,0,0.0,neutral or dissatisfied
3,3,77959,Male,Loyal Customer,44,Business travel,Business,3377,0,0,...,1,1,1,1,3,1,4,0,6.0,satisfied
4,4,36875,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,...,2,2,2,2,4,2,4,0,20.0,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25971,25971,78463,Male,disloyal Customer,34,Business travel,Business,526,3,3,...,4,3,2,4,4,5,4,0,0.0,neutral or dissatisfied
25972,25972,71167,Male,Loyal Customer,23,Business travel,Business,646,4,4,...,4,4,5,5,5,5,4,0,0.0,satisfied
25973,25973,37675,Female,Loyal Customer,17,Personal Travel,Eco,828,2,5,...,2,4,3,4,5,4,2,0,0.0,neutral or dissatisfied
25974,25974,90086,Male,Loyal Customer,14,Business travel,Business,1127,3,3,...,4,3,2,5,4,5,4,0,0.0,satisfied
25975,25975,34799,Female,Loyal Customer,42,Personal Travel,Eco,264,2,5,...,1,1,2,1,1,1,1,0,0.0,neutral or dissatisfied

In [233]:
unique_values = df['Class'].unique()
unique_values

array(['Eco', 'Business', 'Eco Plus'], dtype=object)

In [235]:
unique_values = df['Customer Type'].unique()
unique_values

array(['Loyal Customer', 'disloyal Customer'], dtype=object)

In [237]:
unique_values = df['Type of Travel'].unique()
unique_values

array(['Business travel', 'Personal Travel'], dtype=object)

In [239]:
unique_values = df['satisfaction'].unique()
unique_values

array(['satisfied', 'neutral or dissatisfied'], dtype=object)

In [241]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25976 entries, 0 to 25975
Data columns (total 25 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Unnamed: 0                         25976 non-null  int64
 1   id                                 25976 non-null  int64
 2   Gender                             25976 non-null  object
 3   Customer Type                      25976 non-null  object
 4   Age                                25976 non-null  int64
 5   Type of Travel                     25976 non-null  object
 6   Class                              25976 non-null  object
 7   Flight Distance                    25976 non-null  int64
 8   Inflight wifi service              25976 non-null  int64
 9   Departure/Arrival time convenient  25976 non-null  int64
 10  Ease of Online booking             25976 non-null  int64
 11  Gate location                      25976 non-null  int64
 12  Food and drink                     25976 non-null  int64
 13  Online boarding                    25976 non-null  int64
 14  Seat comfort                       25976 non-null  int64
 15  Inflight entertainment             25976 non-null  int64
 16  On-board service                   25976 non-null  int64
 17  Leg room service                   25976 non-null  int64
 18  Baggage handling                   25976 non-null  int64
 19  Checkin service                    25976 non-null  int64
 20  Inflight service                   25976 non-null  int64
 21  Cleanliness                        25976 non-null  int64
 22  Departure Delay in Minutes         25976 non-null  int64
 23  Arrival Delay in Minutes           25893 non-null  float64
 24  satisfaction                       25976 non-null  object
dtypes: float64(1), int64(19), object(5)
memory usage: 5.0+ MB

In [243]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [245]:
df["Eco"] = 0
df["Eco Plus"] = 0
df["Business"] = 0

# Update the columns based on conditions
df.loc[df["Class"] == "Eco", "Eco"] = 1
df.loc[df["Class"] == "Eco Plus", "Eco Plus"] = 1
df.loc[df["Class"] == "Business", "Business"] = 1

In [247]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25976 entries, 0 to 25975
Data columns (total 28 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Unnamed: 0                         25976 non-null  int64
 1   id                                 25976 non-null  int64
 2   Gender                             25976 non-null  object
 3   Customer Type                      25976 non-null  object
 4   Age                                25976 non-null  int64
 5   Type of Travel                     25976 non-null  object
 6   Class                              25976 non-null  object
 7   Flight Distance                    25976 non-null  int64
 8   Inflight wifi service              25976 non-null  int64
 9   Departure/Arrival time convenient  25976 non-null  int64
 10  Ease of Online booking             25976 non-null  int64
 11  Gate location                      25976 non-null  int64
 12  Food and drink                     25976 non-null  int64
 13  Online boarding                    25976 non-null  int64
 14  Seat comfort                       25976 non-null  int64
 15  Inflight entertainment             25976 non-null  int64
 16  On-board service                   25976 non-null  int64
 17  Leg room service                   25976 non-null  int64
 18  Baggage handling                   25976 non-null  int64
 19  Checkin service                    25976 non-null  int64
 20  Inflight service                   25976 non-null  int64
 21  Cleanliness                        25976 non-null  int64
 22  Departure Delay in Minutes         25976 non-null  int64
 23  Arrival Delay in Minutes           25893 non-null  float64
 24  satisfaction                       25976 non-null  object
 25  Eco                                25976 non-null  int64
 26  Eco Plus                           25976 non-null  int64
 27  Business                           25976 non-null  int64
dtypes: float64(1), int64(22), object(5)
memory usage: 5.5+ MB

In [249]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
df["Customer Type"] = label_encoder.fit_transform(df["Customer Type"])
df["Type of Travel"] = label_encoder.fit_transform(df["Type of Travel"])
df["Gender"] = label_encoder.fit_transform(df["Gender"])
df["satisfaction"] = label_encoder.fit_transform(df["satisfaction"])

In [251]:
df

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction,Eco,Eco Plus,Business
0,0,19556,0,0,52,0,Eco,160,5,4,...,5,2,5,5,50,44.0,1,1,0,0
1,1,90035,0,0,36,0,Business,2863,1,1,...,4,3,4,5,0,0.0,1,0,0,1
2,2,12360,1,1,20,0,Eco,192,2,0,...,3,2,2,2,0,0.0,0,1,0,0
3,3,77959,1,0,44,0,Business,3377,0,0,...,1,3,1,4,0,6.0,1,0,0,1
4,4,36875,0,0,49,0,Eco,1182,2,3,...,2,4,2,4,0,20.0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25971,25971,78463,1,1,34,0,Business,526,3,3,...,4,4,5,4,0,0.0,0,0,0,1
25972,25972,71167,1,0,23,0,Business,646,4,4,...,5,5,5,4,0,0.0,1,0,0,1
25973,25973,37675,0,0,17,1,Eco,828,2,5,...,4,5,4,2,0,0.0,0,1,0,0
25974,25974,90086,1,0,14,0,Business,1127,3,3,...,5,4,5,4,0,0.0,1,0,0,1
25975,25975,34799,0,0,42,1,Eco,264,2,5,...,1,1,1,1,0,0.0,0,1,0,0

In [266]:
df = df.drop(columns=['Class'])

In [268]:
df

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction,Eco,Eco Plus,Business
0,0,19556,0,0,52,0,160,5,4,3,...,5,2,5,5,50,44.0,1,1,0,0
1,1,90035,0,0,36,0,2863,1,1,3,...,4,3,4,5,0,0.0,1,0,0,1
2,2,12360,1,1,20,0,192,2,0,2,...,3,2,2,2,0,0.0,0,1,0,0
3,3,77959,1,0,44,0,3377,0,0,0,...,1,3,1,4,0,6.0,1,0,0,1
4,4,36875,0,0,49,0,1182,2,3,4,...,2,4,2,4,0,20.0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25971,25971,78463,1,1,34,0,526,3,3,3,...,4,4,5,4,0,0.0,0,0,0,1
25972,25972,71167,1,0,23,0,646,4,4,4,...,5,5,5,4,0,0.0,1,0,0,1
25973,25973,37675,0,0,17,1,828,2,5,1,...,4,5,4,2,0,0.0,0,1,0,0
25974,25974,90086,1,0,14,0,1127,3,3,3,...,5,4,5,4,0,0.0,1,0,0,1
25975,25975,34799,0,0,42,1,264,2,5,2,...,1,1,1,1,0,0.0,0,1,0,0

In [292]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)

In [294]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25976 entries, 0 to 25975
Data columns (total 27 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Unnamed: 0                         25976 non-null  float64
 1   id                                 25976 non-null  float64
 2   Gender                             25976 non-null  float64
 3   Customer Type                      25976 non-null  float64
 4   Age                                25976 non-null  float64
 5   Type of Travel                     25976 non-null  float64
 6   Flight Distance                    25976 non-null  float64
 7   Inflight wifi service              25976 non-null  float64
 8   Departure/Arrival time convenient  25976 non-null  float64
 9   Ease of Online booking             25976 non-null  float64
 10  Gate location                      25976 non-null  float64
 11  Food and drink                     25976 non-null  float64
 12  Online boarding                    25976 non-null  float64
 13  Seat comfort                       25976 non-null  float64
 14  Inflight entertainment             25976 non-null  float64
 15  On-board service                   25976 non-null  float64
 16  Leg room service                   25976 non-null  float64
 17  Baggage handling                   25976 non-null  float64
 18  Checkin service                    25976 non-null  float64
 19  Inflight service                   25976 non-null  float64
 20  Cleanliness                        25976 non-null  float64
 21  Departure Delay in Minutes         25976 non-null  float64
 22  Arrival Delay in Minutes           25893 non-null  float64
 23  satisfaction                       25976 non-null  float64
 24  Eco                                25976 non-null  float64
 25  Eco Plus                           25976 non-null  float64
 26  Business                           25976 non-null  float64
dtypes: float64(27)
memory usage: 5.4 MB

In [296]:
X = df[['Gender', 'Customer Type', 'Age','Type of Travel', 'Flight Distance', 'Inflight wifi service','Departure/Arrival time convenient','Ease of Online booking','Gate location','Food and drink','Online boarding','Seat comfort','Inflight entertainment','On-board service','Leg room service','Baggage handling','Checkin service','Inflight service','Cleanliness','Departure Delay in Minutes','Arrival Delay in Minutes','Eco','Eco Plus','Business']]
Y = df['satisfaction']

In [298]:
from sklearn.model_selection import train_test_split

In [300]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [302]:
X_train

,Gender,Customer Type,Age,Type of Travel,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,Gate location,Food and drink,...,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,Eco,Eco Plus,Business
10324,-0.985932,-0.476040,1.875012,1.507435,-0.527493,-2.040460,0.621641,-1.951114,-0.762100,1.340348,...,-2.540245,-0.538238,-0.247517,-1.396893,-0.216952,-0.382286,-0.392913,1.116370,-0.282275,-0.962736
9946,1.014269,2.100665,-0.701730,-0.663378,-0.209068,0.206128,-0.030530,0.172143,0.017866,0.589304,...,-0.265514,1.161716,1.328146,1.144063,0.541023,-0.328843,-0.392913,-0.895761,-0.282275,1.038707
10052,1.014269,-0.476040,-0.701730,-0.663378,1.512231,-0.542735,-0.682700,0.172143,-0.762100,0.589304,...,0.492730,0.311739,0.540315,-0.549908,0.541023,-0.328843,-0.153021,-0.895761,-0.282275,1.038707
3511,-0.985932,-0.476040,-2.023136,1.507435,1.046609,-1.291598,1.273812,-1.243362,-1.542065,-1.663826,...,1.250974,1.161716,1.328146,1.144063,-1.732902,-0.382286,-0.392913,1.116370,-0.282275,-0.962736
21934,1.014269,-0.476040,-1.428503,1.507435,0.310626,-2.040460,0.621641,-1.951114,-1.542065,-0.161739,...,-1.023758,1.161716,-0.247517,0.297077,-0.216952,-0.382286,-0.392913,1.116370,-0.282275,-0.962736
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21575,-0.985932,-0.476040,1.016098,-0.663378,0.494872,0.206128,-0.030530,0.172143,0.017866,-0.161739,...,1.250974,-0.538238,-0.247517,1.144063,-1.732902,-0.382286,-0.312949,-0.895761,-0.282275,1.038707
5390,1.014269,-0.476040,-0.239238,-0.663378,-0.807867,0.954990,-0.682700,-0.535609,-0.762100,0.589304,...,0.492730,-0.538238,0.540315,-2.243878,0.541023,-0.382286,-0.392913,-0.895761,3.542646,-0.962736
860,-0.985932,-0.476040,1.148239,-0.663378,2.067973,-0.542735,1.273812,-0.535609,-0.762100,0.589304,...,0.492730,1.161716,0.540315,0.297077,0.541023,-0.382286,-0.392913,-0.895761,-0.282275,1.038707
15795,-0.985932,-0.476040,-1.758855,1.507435,-0.753795,0.206128,0.621641,0.172143,-0.762100,1.340348,...,1.250974,-0.538238,0.540315,-0.549908,1.298998,-0.034901,-0.392913,1.116370,-0.282275,-0.962736
23654,-0.985932,-0.476040,1.478590,1.507435,-0.522486,-0.542735,-1.334871,-0.535609,0.797831,0.589304,...,-1.023758,-0.538238,0.540315,-0.549908,0.541023,1.060698,1.392953,1.116370,-0.282275,-0.962736

In [312]:
X_train.shape

(20780, 24)

In [310]:
df

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction,Eco,Eco Plus,Business
0,-1.731984,-1.208420,-0.985932,-0.476040,0.817887,-0.663378,-1.035171,1.703853,0.621641,0.172143,...,1.161716,-1.035348,1.144063,1.298998,0.953810,0.779894,1.130485,1.116370,-0.282275,-0.962736
1,-1.731851,0.665483,-0.985932,-0.476040,-0.239238,-0.663378,1.671443,-1.291598,-1.334871,0.172143,...,0.311739,-0.247517,0.297077,1.298998,-0.382286,-0.392913,1.130485,-0.895761,-0.282275,1.038707
2,-1.731717,-1.399748,1.014269,2.100665,-1.296363,-0.663378,-1.003128,-0.542735,-1.987042,-0.535609,...,-0.538238,-1.035348,-1.396893,-0.974927,-0.382286,-0.392913,-0.884576,1.116370,-0.282275,-0.962736
3,-1.731584,0.344405,1.014269,-0.476040,0.289325,-0.663378,2.186131,-2.040460,-1.987042,-1.951114,...,-2.238193,-0.247517,-2.243878,0.541023,-0.382286,-0.232985,1.130485,-0.895761,-0.282275,1.038707
4,-1.731451,-0.747941,-0.985932,-0.476040,0.619676,-0.663378,-0.011804,-0.542735,-0.030530,0.879895,...,-1.388216,0.540315,-1.396893,0.541023,-0.382286,0.140181,1.130485,1.116370,-0.282275,-0.962736
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25971,1.731451,0.357805,1.014269,2.100665,-0.371378,-0.663378,-0.668681,0.206128,-0.030530,0.172143,...,0.311739,0.540315,1.144063,0.541023,-0.382286,-0.392913,-0.884576,-0.895761,-0.282275,1.038707
25972,1.731584,0.163818,1.014269,-0.476040,-1.098152,-0.663378,-0.548521,0.954990,0.621641,0.879895,...,1.161716,1.328146,1.144063,0.541023,-0.382286,-0.392913,1.130485,-0.895761,-0.282275,1.038707
25973,1.731717,-0.726670,-0.985932,-0.476040,-1.494573,1.507435,-0.366278,-0.542735,1.273812,-1.243362,...,0.311739,1.328146,0.297077,-0.974927,-0.382286,-0.392913,-0.884576,1.116370,-0.282275,-0.962736
25974,1.731851,0.666839,1.014269,-0.476040,-1.692784,-0.663378,-0.066878,0.206128,-0.030530,0.172143,...,1.161716,0.540315,1.144063,0.541023,-0.382286,-0.392913,1.130485,-0.895761,-0.282275,1.038707
25975,1.731984,-0.803138,-0.985932,-0.476040,0.157184,1.507435,-0.931032,-0.542735,1.273812,-0.535609,...,-2.238193,-1.823179,-2.243878,-1.732902,-0.382286,-0.392913,-0.884576,1.116370,-0.282275,-0.962736

### knn , svm , naive bayes, decision tree , random forest , xg boost , Ann