In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [7]:
df = pd.read_csv('test.csv')

In [9]:
df.head()

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0,19556,Female,Loyal Customer,52,Business travel,Eco,160,5,4,...,5,5,5,5,2,5,5,50,44.0,satisfied
1,1,90035,Female,Loyal Customer,36,Business travel,Business,2863,1,1,...,4,4,4,4,3,4,5,0,0.0,satisfied
2,2,12360,Male,disloyal Customer,20,Business travel,Eco,192,2,0,...,2,4,1,3,2,2,2,0,0.0,neutral or dissatisfied
3,3,77959,Male,Loyal Customer,44,Business travel,Business,3377,0,0,...,1,1,1,1,3,1,4,0,6.0,satisfied
4,4,36875,Female,Loyal Customer,49,Business travel,Eco,1182,2,3,...,2,2,2,2,4,2,4,0,20.0,satisfied

In [11]:
unique_values = df['Class'].unique()
unique_values

array(['Eco', 'Business', 'Eco Plus'], dtype=object)

In [13]:
from sklearn.preprocessing import LabelEncoder

In [15]:
encoder = LabelEncoder()

In [17]:
data = {'objects': ['Eco', 'Business', 'Eco Plus']}
df = pd.DataFrame(data)

In [23]:
df['factorized'] = pd.factorize(df['objects'])[0]

In [19]:
encoder = LabelEncoder()
df['encoded'] = encoder.fit_transform(df['objects'])[0]

In [25]:
print(df)

    objects  encoded  factorized
0       Eco        1           0
1  Business        0           1
2  Eco Plus        2           2